<div>
  <h4 style="text-align: center;">
  	<% if @name.blank? %>
  	  Your Inventory
  	<% else %>
      <%= link_to image_tag(@pic_small, :alt=> @name), @pic_small, :target => "_blank"%>
      <%= @name %>'s Inventory
    <% end %>
  </h4>
</div>

<div class="hero-unit ">
<div class="row">
<div class="span3">
  <% @items[:items_col1].each do |item| %>
    <div class="well-home">
      <div id="<%= item[:inventory_id] %>">
        <%= render 'item_details', :item => item %>
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col2].each do |item| %>
    <div class="well-home">
      <div id="<%= item[:inventory_id] %>">
        <%= render 'item_details', :item => item %>
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col3].each do |item| %>
    <div class="well-home">
      <div id="<%= item[:inventory_id] %>">
        <%= render 'item_details', :item => item %>
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col4].each do |item| %>
    <div class="well-home">
      <div id="<%= item[:inventory_id] %>">
        <%= render 'item_details', :item => item %>
      </div>
    </div>
  <% end%>
</div>
</div>
</div>

