<div>
  <h1 style="text-align: center;">
    Search Result for <%= @search_result[:query] %>
  </h1>
</div>

<div class="hero-unit ">
<div class="row" style="text-align: center">
<div class="span3">
  <% @search_result[:items][:items_col1].each do |item| %>
    <%= render 'search_result_item_details', :item => item %>
  <% end%>
</div>
<div class="span3">
  <% @search_result[:items][:items_col2].each do |item| %>
    <%= render 'search_result_item_details', :item => item %>
  <% end%>
</div>
<div class="span3">
  <% @search_result[:items][:items_col3].each do |item| %>
    <%= render 'search_result_item_details', :item => item %>
  <% end%>
</div>
<div class="span3">
  <% @search_result[:items][:items_col4].each do |item| %>
    <%= render 'search_result_item_details', :item => item %>
  <% end%>
</div>
</div>
</div>

