<!DOCTYPE html>
<html>
<head>
  <title>Zollaria</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Zollaria</a>
        <%= form_tag( { :controller => 'users', :action => "search", :method => "get"}, :id => "products_search", :class => "navbar-search pull-left" ) do %>
          <%= text_field_tag 'query', nil, :class => 'search-query' %>
        <% end %>
        <ul class="nav">
          <li><a href="#">balance: $<%= current_balance %></a></li>
        </ul>
    </div>
  </div>

  <div id="mainContainer" class="mainContainer">
    <%= yield %>
  </div>
</body>
</html>
