<!DOCTYPE html>
<html>
<head>
  <title>Zollaria</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="searchContainer" class="searchContainer">
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<div id="mainContainer" class="mainContainer">
<%= yield %>
</div>
</body>
</html>
